@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Black.ttf);
}

@media (max-width: 450px) {
    .card-img {
        display: none;
    }
}

html {
    font-family: "Roboto";
    height: 100vh;
    width: 100vw;
}

.main-div {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: clamp(250px, 20vw, 550px);
    background-color: #3b82f6;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% repeat(2, 1fr);
    row-gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #00008b;
}

a:active {
    color: rgb(236, 166, 37);
    text-decoration: underline;
}

.dash-icon {
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.dash-text {
    font-size: 2em;
    margin: 7px;
    padding-right: 10px;
}

.dash-div {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.flex-link {
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
}

.sidebar-text {
    font-size: 1.1em;
}

.link-icon {
    width: 30px;
    height: 30px;
    margin: 11px 0; /*helps align icons with their text properly */
}

.header-div {
    width: 80vw;
    height: 20vh;
    background-color: white;
    border-bottom: 2px solid grey;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    overflow: auto;
}

.head-icon {
    height: 25px;
    width: 25px;
    padding: 0 8px;
}

.search-div {
    display: flex;
    align-self: center;
}

#search {
    margin: 0 0 5px 10px;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    background-color: #D6DBDF;
}

.content-div {
    background-color: #D6DBDF;
    width: 80vw;
    height: 80vh;
    display: flex;
    overflow: auto;
}

.profile-div {
    align-self: center;
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    padding: 0 5px;
}

.username-sm {
    font-size: 20px;
    padding-left: 5px;
}

.header-greeting {
    display: flex;
    align-items: center;
}

div.header-greeting > img.profile-pic {
    width: 70px;
    height: 70px;
    margin: 0 10px 0 15px;
}

.greeting-box {
    height: 100%;
    width: 50%;
}

.greeting-smtext {
    font-size: 12px;
}

.greeting-text {
    font-size: 22px;
}

.header-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btns {
    width: 6em;
    height: 2em;
    border-radius: 10em;
    background-color: #3b82f6;
    color: white;
}

.btns:hover {
    background-color: rgb(236, 166, 37);
    color: #3b82f6;
}

.project-div {
    height: 100%;
    width: 70%;
}

.card-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    height: 88%;
    width: 95%;
    padding-left: 15px;
}

.project-text {
    padding-left: 10px;
}

.project-card {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    border-left: solid 8px rgb(236, 166, 37);
} 

.description-txt {
    color: grey;
    font-size: 12px;
}

.card-img {
    height: 25px;
    width: 25px;
}

.card-links {
    width: 90px;
    position: relative;
    left: 300px;
    top: 40px;
}

.announce-div {
    height: 100%;
    width: 30%;
}

.announce-card {
    height: 40%;
    width: 95%;
    background-color: white;
    border-radius: 5%;
}